# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cmake_install.cmake
CMakeCache.txt
Makefile
pwm_test
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.25.1/CMakeCXXCompiler.cmake
CMakeFiles/3.25.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.25.1/CMakeSystem.cmake
CMakeFiles/3.25.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/pwm_test.dir/build.make
CMakeFiles/pwm_test.dir/cmake_clean.cmake
CMakeFiles/pwm_test.dir/compiler_depend.internal
CMakeFiles/pwm_test.dir/compiler_depend.make
CMakeFiles/pwm_test.dir/compiler_depend.ts
CMakeFiles/pwm_test.dir/depend.make
CMakeFiles/pwm_test.dir/DependInfo.cmake
CMakeFiles/pwm_test.dir/flags.make
CMakeFiles/pwm_test.dir/link.txt
CMakeFiles/pwm_test.dir/progress.make
